{{np-header}}
<section id="main">
  {{#np-sidebar hasYieldClassName=hasYieldClassName}}
    {{outlet 'sidebar'}}
  {{/np-sidebar}}

  <section id="content">
    <div class="container">
      {{outlet}}
    </div>
  </section>
</section>

