<tr>
  <th colspan="{{colspan}}">
    <ul class="actions pull-right">
      <li>
        <a href="" {{action toggleProperty 'expand'}}>
          <i class="zmdi zmdi-format-line-spacing"></i>
        </a>
      </li>
    </ul>
  </th>
</tr>